@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Tervetuloa";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Mikko Pakkanen";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@RehanSaeedUK");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };

    @model Harjoitustyo___Ruokapaivakirja.Models.UserAccount
}

<header class="jumbotron">
    <h1 style="">Ruokapäiväkirja</h1>
    <p class="lead" style="">Palvelu ruokareseptien tallentamiseen sekä ruokapäiväkirjan pitämiseen.</p>
    <p><a href="https://github.com/ASP-NET-MVC-Boilerplate/Templates" class="btn btn-primary btn-lg">Katso lisää »</a></p>
</header>

@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="success">@ViewBag.Message</div>
        </div>
        <div class="col-sm-3"></div>
    </div>
}

<div class="row main">
    <div class="col-sm-6">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Rekisteröidy</h1>
                <hr />
            </div>
        </div>
        <div class="main-register main-center">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
            @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Nimi</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Syötä nimesi" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Sähköposti</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Syötä sähköpostisi" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Käyttäjätunnus</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Syötä käyttäjätunnuksesi" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Salasana</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Syötä salasanasi" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Salasanan vahvistus</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vahvista salasanasi" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <input type="submit" value="Rekisteröidy" class="btn btn-primary btn-lg btn-block login-button" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Kirjaudu sisään</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
            @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Käyttäjätunnus</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Syötä käyttäjätunnuksesi" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Salasana</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Syötä salanasi" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group ">
                    <input type="submit" value="Kirjaudu" class="btn btn-primary btn-lg btn-block login-button" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}